
@import url('https://fonts.googleapis.com/css?family=Lalezar');
* { 
	padding: 0;
	margin: 0; 
	box-sizing:border-box;
}
body {
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.5;
}
section {
	padding:4em 0;
}
header {
	background-color: #008DB2;
	padding: 1em;
}

nav {background-color: #008DB2;
	padding: 1em;}

nav a { 
	text-decoration: none;
	color: white;
	margin-right: .5em;
	padding: .5em;
	background-color: #5B6B7F; 
	
}		

nav a:hover{
	color: black}
			
#wrapper{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

ul {
	padding-left: 1em;
	padding-top: .5em;}
		
#intro{
	padding: 1em;
	overflow:hidden}

#about{
	/* background-color: #FFE2B8; */
	/* padding: 20px; */
	/* border: 1px black solid; */
	width: 1200px;
	margin: auto;
			}
.cases{
	padding: 1em;
	margin: 1.5em 8em;
	clear: both;
	width: 100%;
	line-length: ;}

#case1{
	background-color: #5485FF;
	margin-bottom: 1.5em;
}

#case2{
	background-color: #FFEC73;
	margin-bottom: 1.5em;
}

#case3{
	background-color: #FF8919;
	margin-bottom: 1.5em;
}

.clearfix:after {
	visibility: hidden;
	display:block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
	}


h1, h2, h3 {
	font-family: 'Lalezar', san-serif;
	font-size: 2em;
	}		

p {
	margin-top: 1em;
	}
		

#intro img {width: 100%;}

footer {
	background-color: #008DB2;
	padding: 1em;}
	
a {
	text-decoration: none;
	color: yellow;}

footer a:hover{
	color: red;
	}
	
#intro div {
	 background: url(images/web_designer.jpg);
	 height: 22em;
	 background-repeat: no-repeat;
	 background-size: cover
	 width: 100%;
	}

#intro > * {
	 width: 50%;
	 float: left;
	 padding: 2em 1em 0;
	}

.aboutColumn {
	width: 100%;
	padding: 2em;
	display: block;
	}
	
.aboutColumn ul{
	float:right;
	width: 50%;
	}

.aboutColumn img {
	width: 50%;
	float: left;
	margin: 1em auto;
				
	}